 
<h5 style="padding: 20px 20px 5px;">Users</h5>
 <div class="nav flex-column nav-pills chat-userlist" id="chat-list-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="chat-first-tab" data-toggle="pill" href="#chat-first" role="tab" aria-controls="chat-first" aria-selected="true">
        <!-- <div class="media active">
            <div class="user-status"></div>
            <img class="align-self-center rounded-circle" src="assets/images/girl.svg" alt="User Image">
            <div class="media-body">
                <h5>Emily Cook<span class="chat-timing">02:30 pm</span></h5>
                <p>Waiting for module 1 to finish...</p>
            </div>
        </div> -->
    </a>                                                 
</div>

<h5 style="padding: 20px 20px 5px;">Groups</h5>
<div class="nav flex-column nav-pills chat-grouplist" id="chat-group-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link" id="group-first-tab" data-toggle="pill" href="#group-first" role="tab" aria-controls="chat-first" aria-selected="true">
        
    </a>                                                 
</div>

